.menu-screen {
  text-align: center;
  background-color: #0e593a;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 500px;
}

.menu-screen h1 {
  font-size: 4rem;
  color: #fdd835;
  margin: 0 0 10px 0;
  text-shadow: 2px 2px 4px #000;
}

.menu-screen h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.menu-button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fdd835;
  color: #0e593a;
  transition: all 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  margin-top: 15px;
}

.menu-button:hover {
  background-color: #fbc02d;
  transform: translateY(-3px);
}

.menu-button.reset {
  background-color: #f44336;
  color: white;
}

.menu-button.reset:hover {
  background-color: #d32f2f;
}

.rules-button {
  background-color: #4caf50;
  color: white;
}

.rules-button:hover {
  background-color: #43a047;
}